@model Web_Ban_Giay_2.Models.Entities.Giay

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}
    <div style="margin-left: 15px; width: 71%;">
        <h2>Thêm Mới Sản Phẩm</h2>

        <form method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Giày</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*<div class="form-group">
            @Html.LabelFor(model => model.Manhacc, "Manhacc", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Manhacc", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Manhacc, "", new { @class = "text-danger" })
            </div>
        </div>*@


                <div class="form-group">
                    @Html.LabelFor(model => model.Tengiay, "Tên giày", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Tengiay, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tengiay, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Manhasx, "Thương hiệu", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Manhasx", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Manhasx, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Maloaigiay, "Loại giày", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Maloaigiay", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Maloaigiay, "", new { @class = "text-danger" })
                    </div>
                </div>



                @*<div class="form-group">
            @Html.LabelFor(model => model.Soluongton, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Soluongton, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Soluongton, "", new { @class = "text-danger" })
            </div>
        </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.Giaban, "Giá bán", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Giaban, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Giaban, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Mota, "Mô tả ngắn", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Mota, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Mota, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Hinhanh, "Hình ảnh", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input style="width: 100%;" type="file" name="UploadImage" id="UploadImage" />
                        @Html.ValidationMessageFor(model => model.Hinhanh, "", new { style="clear: both;", @class = "text-danger" })
                    </div>
                </div>



                <div style="clear: both;">
                    <div class="form-group create-sp">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Thêm mới" class="btn btn-default" />
                        </div>
                    </div>

                    <div>
                        @Html.ActionLink("Quay lại sản phẩm", "Index")
                    </div>
                </div>
            </div>
        </form>
    </div>

