@model Web_Ban_Giay_2.Models.Entities.Giay

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}

    <div style="margin-left: 15px;">
        <h2>Chi Tiết Sản Phẩm</h2>

        <div class="ct-sp">
            <h4>Giày</h4>
            <hr />
            <dl class="dl-horizontal">

                <dt>
                    Tên giày
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tengiay)
                </dd>

                <dt>
                    Loại giày
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LoaiGiay.Tenloaigiay)
                </dd>

                @*<dt>
            @Html.DisplayNameFor(model => model.NhaCungCap.Tennhacc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaCungCap.Tennhacc)
        </dd>*@

                <dt>
                    Thương hiệu
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NhaSanXuat.Tennhasx)
                </dd>



                @*<dt>
            @Html.DisplayNameFor(model => model.Soluongton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongton)
        </dd>*@

                <dt>
                    Giá bán
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Giaban)
                </dd>

                <dt>
                    Màu
                </dt>

                <dd>
                    @foreach (var item in Model.ChiTietMaus)
                    {
                        <span>
                            @item.Mau.Tenmau,
                        </span>
                    }
                </dd>

                <dt>
                    Size
                </dt>

                <dd>
                    @foreach (var item in Model.ChiTietSizes)
                    {
                        <span>
                            @item.Size.Sosize,
                        </span>
                    }
                </dd>

                <dt>
                    Hình ảnh
                </dt>

                <dd>
                    <img style="width: 275px;" src="~/Content/img_product/@Model.Hinhanh" />
                </dd>

                <dt style="float: none; margin-bottom: 5px;">
                    Mô tả
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Mota)
                </dd>

            </dl>

            <p>
                @Html.ActionLink("Sửa", "Edit", new { id = Model.Magiay }) |
                @Html.ActionLink("Quay lại sản phẩm", "Index")
            </p>
        </div>
    </div>
