@model Web_Ban_Giay_2.Models.Entities.TaiKhoan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TaiKhoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tentk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tentk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matkhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matkhau)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Matk }) |
    @Html.ActionLink("Back to List", "Index")
</p>
