@using Web_Ban_Giay_2.Models.Entities;

@{
    Shopping_Cart cart = (Shopping_Cart)Session["cart"];
    int total = 0;
    double totalMoney = 0.0;
    if (cart != null)
    {
        total = cart.GetTotal();
        totalMoney = cart.GetTotalMoney();
    }
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Best Shose</title>
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" media="all" />
    <!--[if lte IE 6]>
        <style type="text/css" media="screen">
            .tabbed { height:420px; }
        </style>
    <![endif]-->

    <script src="~/Scripts/js/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/js/jquery.jcarousel.pack.js" type="text/javascript"></script>
    <script src="~/Scripts/js/jquery.slide.js" type="text/javascript"></script>
    <script src="~/Scripts/js/jquery-func.js" type="text/javascript"></script>

</head>
<body>
    <!-- Top -->
    <div id="top">

        <div class="shell">

            <!-- Header -->
            <div id="header">
                <h1 id="logo"><a href="/Home/Index">BEST SHOES</a></h1>
                <div id="navigation">
                    <ul>
                        <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                        <li>@Html.ActionLink("Giới thiệu", "GioiThieu", "Home")</li>
                        <li>@Html.ActionLink("Cửa hàng", "List_SanPham", "Home")</li>
                        <li>@Html.ActionLink("Tài khoản", "Login", "Admin")</li>
                        <li class="last">@Html.ActionLink("Liên hệ", "LienHe", "Home")</li>

                    </ul>
                </div>
            </div>
            <!-- End Header -->
            <!-- Slider -->
            <div id="slider">
                <div id="slider-holder">
                    <ul>
                        <li><a href="#"><img src="~/Content/images/slide1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/images/slide2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/images/slide1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/images/slide2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/images/slide1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/images/slide2.jpg" alt="" /></a></li>
                    </ul>
                </div>
                <div id="slider-nav">
                    <a href="#" class="prev">Previous</a>
                    <a href="#" class="next">Next</a>
                </div>
            </div>
            <!-- End Slider -->

        </div>
    </div>
    <!-- Top -->
    <!-- Main -->
    <div id="main">
        <div class="shell">
            <!-- Search, etc -->
            <div class="options">
                <div class="search">
                    <form action="/Home/Search" method="post">
                        <span class="field"><input type="text" class="blink" placeholder="Tìm sản phẩm" name="search" /></span>
                        <input type="submit" class="search-submit"   />
                    </form>
                </div>
                @*<span class="left"><a href="#">Tìm nâng cao</a></span>*@

                <div class="right">
                    <span class="cart">
                        <p>@total</p>
                        <a href="/ShoppingCart/Cart" class="cart-ico"></a>
                        <strong>$@totalMoney.ToString("N0")</strong>
                    </span>
                    @*<span class="left more-links">
                        <a href="#">Thanh toán</a>
                        <a href="#">Giỏ hàng</a>
                    </span>*@
                </div>
            </div>
            <!-- End Search, etc -->

            @RenderBody()

        </div>
    </div>
    <!-- End Main -->

    @RenderPage("~/Views/Shared/Footer.cshtml")


    <div id="call-now" class="call-now">
        <div class="call-now-inner">
            <a href="tel:0987654321">
                <span class="phone-wave" style="position: relative;">
                    <img src="~/Content/images/call-now.png" alt="Call Now Button" />
                </span>
                <span class="text">0987654321</span>
            </a>
        </div>
    </div>
    <script>
        function ktra() {
            alert("Đã thêm sản phẩm vào giỏ");
        }
    </script>

    @*@RenderSection("jsFooter", required: false)*@
</body>
</html>