@model Web_Ban_Giay_2.Models.San_Pham

@{
    ViewBag.Title = "Details_SP";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}

    <div>
        <h2>Chi Tiết Sản Phẩm</h2>

        <div class="ct-sp">
            <h4>Sản Phẩm</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.price)
                </dd>

            </dl>

            <p>
                @Html.ActionLink("Sửa", "Edit_SP", new { id = Model.id }) |
                @Html.ActionLink("Quay lại sản phẩm", "San_Pham")
            </p>
        </div>
    </div>
