@model PagedList.IPagedList<Web_Ban_Giay_2.Models.Entities.Giay>
@using PagedList.Mvc;
@using Web_Ban_Giay_2.Models.Entities;
@{
    ViewBag.Title = "List_SanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content -->
<div id="content">

    <!-- Tabs -->
    <!-- <div class="tabs">
        <ul>
            <li><a href="#" class="active"><span>Safety Shoes</span></a></li>
            <li><a href="#"><span>Sport Shoes</span></a></li>
            <li><a href="#" class="red"><span>More Shoes</span></a></li>
        </ul>
    </div> -->
    <!-- Tabs -->
    <!-- Container -->
    <div id="container">

        <div class="tabbed-sp">

            <!-- First Tab Content -->
            <div class="tab-content" style="display:block;">
                <form action="/Home/SapXep" method="post">
                    <div class="sort">
                        <input style="padding: 3px 10px;font-size: 14px;" type="submit" value="Sắp xếp " />

                        <select name="sapxep">

                            <option value="0">Mặc định</option>
                            <option value="1">Giá tăng dần</option>
                            <option value="2">Giá giảm dần</option>

                        </select>

                    </div>
                </form>
                <div class="items">
                    <div class="cl">&nbsp;</div>
                    @if (Model.Count() == 0)
                    {
                        <p style="text-align: center; font-size: 14px; padding-top: 30px;">Không có sản phẩm nào được tìm thấy</p>
                    }
                    else
                    {
                        <ul>
                            @foreach (var i in Model)
                            {
                                <li>
                                    <div class="image">
                                        <a href="~/Home/ChiTiet_SP/@i.Magiay"><img src="~/Content/img_product/@i.Hinhanh" alt="" /></a>
                                    </div>
                                    <p>
                                    <p style="min-height: 44px;"><span>@Html.ActionLink(i.Tengiay, "ChiTiet_SP", new { id = i.Magiay })</span></p><br />
                                    Loại Giày : <span>@i.LoaiGiay.Tenloaigiay</span><br />
                                    Thương Hiệu: <span>@Html.DisplayFor(modelItem => i.NhaSanXuat.Tennhasx)</span>
                                    </p>
                                    <p class="price">Giá bán: <strong>@i.Giaban.GetValueOrDefault(0).ToString("N0") đ</strong></p>
                                </li>
                            }
                        </ul>
                    }
                    <div class="cl">&nbsp;</div>
                </div>

                <div class="list-page">
                    
                    <br />
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("List_SanPham",
                        new { page }))
                    
                </div>

            </div>
            <!-- End First Tab Content -->

            <div class="tab-right">
                <form action="/Home/Filter" method="post">
                    <h2>Lọc sản phẩm</h2>



                    <div class="color price-v">
                        <p>Khoảng giá</p>
                        <input type="number" name="firstP" min="0" value="0">đến
                        <input type="number" name="finalP" min="0" value="0">
                    </div>

                    @*<div class="color">
                        <p>Màu</p>
                        <select name="mau">
                            <option value="">Mặc định</option>
                            @{
                                using (var db = new ShopModel())
                                {
                                    var lstMau = db.Maus.ToList();

                                    foreach (var i in lstMau)
                                    {
                                        <option value="@i.Tenmau">@i.Tenmau</option>

                                    }
                                }
                            }
                        </select>
                        @*<li><input type="checkbox" name="">Đen</li>
        <li><input type="checkbox" name="">Trắng</li>
        <li><input type="checkbox" name="">Đỏ</li>
                    </div>*@



                    <div class="color">
                        <p>Thương hiệu</p>
                        <select name="thuonghieu">
                            <option value="0">Mặc định</option>
                            @{
                                using (var db = new ShopModel())
                                {
                                    var lstNsx = db.NhaSanXuats.ToList();

                                    foreach (var i in lstNsx)
                                    {
                                        <option value="@i.Tennhasx">@*<input type="checkbox" name="thuonghieu" value="@i.Tennhasx">*@@i.Tennhasx</option>
                                    }
                                }
                            }
                        </select>
                        @*<li><input type="checkbox" name="">Nike</li>
            <li><input type="checkbox" name="">Adidas</li>
            <li><input type="checkbox" name="">Bitis</li>*@
                    </div>

                    <div class="color">
                        <p>Loại giày</p>
                        <select name="loaigiay">
                            <option value="0">Mặc định</option>
                            @{
                                using (var db = new ShopModel())
                                {
                                    var lstLg = db.LoaiGiays.ToList();

                                    foreach (var i in lstLg)
                                    {
                                        <option value="@i.Tenloaigiay">@i.Tenloaigiay</option>
                                    }
                                }
                            }
                        </select>

                        @*<li><input type="checkbox" name="">Nam</li>
            <li><input type="checkbox" name="">Nữ</li>
            <li><input type="checkbox" name="">Trẻ em</li>*@
                    </div>

                    <button type="submit">Thực hiện lọc</button>
                    <a href="/Home/List_SanPham">Bỏ lọc</a>

                    @*<div class="list-page" style="display: none;">
                        <!-- Thêm mã phân trang -->
                        <br />
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

                        @Html.PagedListPager(Model, page => Url.Action("List_SanPham",
                            new { page }))
                        <!-- Kết thúc -->
                    </div>*@
                </form>
            </div>

        </div>

    </div>
    <!-- End Container -->

</div>
<!-- End Content -->
