@model IEnumerable<Web_Ban_Giay_2.Models.Entities.Giay>

@*@model PagedList.IPagedList<Web_Ban_Giay_2.Models.Entities.Giay>
@using PagedList.Mvc;*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var count=0;
}



        
        <!-- Content -->
        <div id="content" @*style="height: 600px;"*@>

            <!-- Tabs -->
            <div class="tabs">
                <ul>
                    <li><a href="#" class="active"><span>Giày Nam</span></a></li>
                    <li><a href="#"><span>Giày Nữ</span></a></li>
                    <li><a href="#" class="red"><span>Giày Trẻ Em</span></a></li>
                </ul>
            </div>
            <!-- Tabs -->
            <!-- Container -->
            <div id="container">

                <div class="tabbed">

                    <!-- First Tab Content -->
                    <div class="tab-content ct-id" style="display:block;">
                        <div class="items it-id">
                            <div class="cl">&nbsp;</div>
                            <ul>
                                @foreach (var i in Model)
                                {
                                    
                                    if ( i.LoaiGiay.Tenloaigiay == "Nam")
                                    {
                                        count++;
                                    <li>
                                        <div class="image">
                                            <a href="~/Home/ChiTiet_SP/@i.Magiay"><img src="~/Content/img_product/@i.Hinhanh" alt="" /></a>
                                        </div>
                                        <p>
                                        <p style="min-height: 44px;"><span>@Html.ActionLink(i.Tengiay, "ChiTiet_SP", new { id = i.Magiay })</span></p><br />
                                            Loại Giày : <span>@i.LoaiGiay.Tenloaigiay</span><br />
                                            Thương Hiệu: <a href="#">@Html.DisplayFor(modelItem => i.NhaSanXuat.Tennhasx)</a>
                                        </p>
                                        <p class="price">Giá bán: <strong>@i.Giaban.GetValueOrDefault(0).ToString("N0") đ</strong></p>
                                    </li>
                                        if (count == 8)
                                        { 
                                            break;
                                        }
                                    }
                                    else
                                    {
                                        continue;
                                    }
                                    
                                }                              
                            </ul>
                            <div class="cl">&nbsp;</div>
                        </div>
                    </div>
                    <!-- End First Tab Content -->
                    <!-- Second Tab Content -->
                    <div class="tab-content ct-id">
                        <div class="items it-id">
                            <div class="cl">&nbsp;</div>
                            <ul>
                                @foreach (var i in Model)
                                {

                                    if (i.LoaiGiay.Tenloaigiay == "Nữ")
                                    {
                                        count++;
                                        <li>
                                            <div class="image">
                                                <a href="~/Home/ChiTiet_SP/@i.Magiay"><img src="~/Content/img_product/@i.Hinhanh" alt="" /></a>
                                            </div>
                                            <p>
                                                <p style="min-height: 44px;"><span>@Html.ActionLink(i.Tengiay, "ChiTiet_SP", new { id = i.Magiay })</span></p><br />
                                                Loại Giày : <span>@i.LoaiGiay.Tenloaigiay</span><br />
                                                Thương Hiệu: <span>@Html.DisplayFor(modelItem => i.NhaSanXuat.Tennhasx)</span>
                                            </p>
                                            <p class="price">Giá bán: <strong>@i.Giaban.GetValueOrDefault(0).ToString("N0") đ</strong></p>
                                        </li>
                                        if (count == 8)
                                        {
                                            break;
                                        }
                                    }
                                    else
                                    {
                                        continue;
                                    }

                                }                             
                            </ul>
                            <div class="cl">&nbsp;</div>
                        </div>
                    </div>
                    <!-- End Second Tab Content -->
                    <!-- Third Tab Content -->
                    <div class="tab-content ct-id">
                        <div class="items it-id">
                            <div class="cl">&nbsp;</div>
                            <ul>
                                @foreach (var i in Model)
                                {

                                    if (i.LoaiGiay.Tenloaigiay == "Trẻ em")
                                    {
                                        count++;
                                        <li>
                                            <div class="image">
                                                <a href="~/Home/ChiTiet_SP/@i.Magiay"><img src="~/Content/img_product/@i.Hinhanh" alt="" /></a>
                                            </div>
                                            <p>
                                                <p style="min-height: 44px;"><span>@Html.ActionLink(i.Tengiay, "ChiTiet_SP", new { id = i.Magiay })</span></p><br />
                                                Loại Giày : <span>@i.LoaiGiay.Tenloaigiay</span><br />
                                                Thương Hiệu: <a href="#">@Html.DisplayFor(modelItem => i.NhaSanXuat.Tennhasx)</a>
                                            </p>
                                            <p class="price">Giá bán: <strong>@i.Giaban.GetValueOrDefault(0).ToString("N0") đ</strong></p>
                                        </li>
                                        if (count == 8)
                                        {
                                            break;
                                        }
                                    }
                                    else
                                    {
                                        continue;
                                    }

                                }                               
                            </ul>
                            <div class="cl">&nbsp;</div>
                        </div>
                    </div>
                    <!-- End Third Tab Content -->

                </div>


            </div>
            <!-- End Container -->

        </div>
        <!-- End Content -->

